*{
	margin: 0;
	padding: 0;

}
/*-----------Navigation-------------*/
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-brand img{
	width: 100px;
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li a{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover{
	color: #326334!important;
	border-bottom: 2px solid #326334;
}
.navbar{
	background-color: #fff;
}

.navbar-toggler{
	border: none!important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
.nav-item .btn{
	background-color: #326334!important;
	color: #fff;
}

/*--------------------------Slider----------------------------*/

#home{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
	url('Image/10.jpg');
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 80vh;
}


.welcome{
	padding: 50px 100px;
	margin-top: -140px;
	background-color: #fff;
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

.welcome h1{
	color: #333;
	padding: 10px;
}

.welcome .home-btn{
	margin-top: 15px;
	font-size: 24px;
	padding: 10px 30px;
	border-radius: 10px;
	color: #fff;
	background-color: #000!important;
	text-decoration: none;
}
.welcome .home-btn:hover{
	background-color: rgba(50,99,52,0.7);
	
}
/*-----------------------------About-------------------------------*/

#about{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about b{
	color: #326334; 
}
#about .btn{
	margin-top: 20px;
	margin-bottom: 30px;
}

.about-content{
	padding-top: 20px;
}
#about .btn{
	background-color: #326334!important;
	color: #fff;
}
#about .btn:hover{
	background-color: transparent;
	border: 2px solid #326334!important;
}


/*-------------------------------Team Members-------------------------------*/

#team{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}

#team h1{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}

#team h1::after{
	content: '';
	background: #326334;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.profile-pic{
	margin-top: 25px;
}

.profile-pic .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile-pic .img-box img{
	width: 300px;
	filter: grayscale(1);
}
.profile-pic .img-box img:hover{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #326334;
}
.profile-pic h3{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
#team .btn-primary{
	box-shadow: none;
	padding-top: 8px 25px;
	border: none;
	border-radius: 5px;
	background: #326334 !important;

}

/*--------------------------Promo---------------------------------*/

#promo{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
	 url('Image/14.jpg');
	 height: 120vh;
	 background-size: cover;
	 background-position: center;
	 color: #fff;
	 background-attachment: fixed;
	 text-align: center;
	 padding: 50px;
	 font-family: sans-serif;
	 font-size: 38px;
}
#promo h1{
	text-align: center;
	color: #fff;
	padding-bottom: 10px;
}

#promo h1::after{
	content: '';
	background: #326334;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.event-card{
	position: absolute;
	left: 15%;
	height: 450px;
	width: 120%;
	max-width: 850px;
	margin: auto;
	background: #fff;
	border-radius: 25px;
	box-shadow: 0 10px 50px #326334;
}

.event-card .inner-part{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 25px;
	height: 360px;
	position: absolute;

}
#tapImg:checked ~.inner-part{
	padding: 0;
	transition: .1s ease-in;
}

.inner-part .img{
	height: 300px;
	width: 300px;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 20px;
	box-shadow: 2px 3px 15px #326334;
}
#tapImg:checked ~ .inner-part .img{
	height: 450px;
	width: 850px;
	z-index: 99;
	margin-top: 80px;
	transition: .3s .2s ease-in;
}
.img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	opacity: 0;
	transition: .6s;

}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
	opacity: 1;
	transition-delay: .2s;
}

.content{
	padding: 0 20px 0 35px;
	width: 530px;
	margin-left: 50px;
	opacity: 0;
	transition: .6s;
}
#tapImg:checked ~.inner-part .content{
	display: none;
}

#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
	opacity: 1;
	margin-left: 0px;
	z-index: 100;
	transition-delay: .3s;
}

.content .title{
	font-size: 30px;
	font-weight: 700;
	color: #0d0925;
	margin-bottom: 20px;

}
.content .text{
	font-size: 19px;
	color: #4e4a67;
	margin-bottom: 30px;
	line-height: 1.5em;
	text-align: justify;
}
.content button{
	display: inline-flex;
	padding: 15px 20px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff0e6;
	font-weight: 600;
	letter-spacing: 1px;
	border-radius: 50px;
	border: 1px solid #326334;
	outline: none;
	background: #326334;
	cursor: pointer;
}

.sliders{
	position: absolute;
	bottom: 25px;
	left: 65%;
	transform: translateX(-50%);
	z-index: 100;
}
#tapImg:checked ~.sliders{
	display: none;
}

.sliders .tap{
	position: relative;
	height: 10px;
	width: 50px;
	background: #d9d9d9;
	border-radius: 5px;
	display: inline-flex;
	margin: 0 3px;
	cursor: pointer;
}

.sliders .tap:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: 100%;
	width: -100%;
	background: #326334;
	border-radius: 10px;
	transform: scaleX(0);
	transition: transform .6s;
	transform-origin: left;
}

.sliders .tap:hover:before{
	transform: scaleX(1);
	width: 100%;
}
#tap-1:checked ~ .sliders .tap-1:before, 
#tap-2:checked ~ .sliders .tap-2:before, 
#tap-3:checked ~ .sliders .tap-3:before{

	transform: scaleX(1);
	width: 100%;
}

input{
	display: none;
}

.countdown{
	display: flex;
	margin-top: 10px;
	margin-left: 30px;
}
.countdown div{
	position: relative;
	width: 70px;
	height: 70px;
	text-align: center;
	background: #333;
	color: #fff;
	margin: 0 10px;
	font-size: 35px;
	font-weight: 500;
}

.countdown div:before{
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 25px;
	background: #326334;
	color: #fff;
	line-height: 25px;
	font-size: 15px;
	font-weight: 300;
}
.countdown div#day:before{
	content: 'Jour';
}
.countdown div#hour:before{
	content: 'Heure';
}
.countdown div#minute:before{
	content: 'Minute';
}
.countdown div#seconds:before{
	content: 'Seconds';
}
/*--------------------------Contact---------------------------------*/
#contact h1{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}

#contact h1::after{
	content: '';
	background: #326334;
	display: block;
	height: 3px;
	width: 190px;
	margin: 20px auto 5px;
}

#contact{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}


.social-icon{
	padding: 20px;
	margin: 15px;
}


.social-icon .fa{

	margin: 10px;
	color: #326334;
	font-weight: bold;
}
/*---------------------------Footer------------------------------*/
#footer{

	background: #333;
	color: #fff;
	padding: 12px;
}

