@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
*{
	margin: 0;
	padding: 0;

}
/*-----------Navigation-------------*/
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar-brand img{
	width: 100px;
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li a{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover{
	color: #326334!important;
	border-bottom: 2px solid #326334;
}
.navbar{
	background-color: #fff;
}

.navbar-toggler{
	border: none!important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
.nav-item .btn{
	background-color: #326334!important;
	color: #fff;
}

/*--------------------------Slider----------------------------*/

#home{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
	url('10.jpg');
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 70vh;
}


.welcome{
	padding: 50px 100px;
	margin-top: -140px;
	background-color: #fff;
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

.welcome h1{
	color: #333;
	padding: 10px;
}

.welcome .home-btn{
	margin-top: 15px;
	font-size: 24px;
	padding: 10px 30px;
	border-radius: 10px;
	color: #fff;
	background-color: #000!important;
	text-decoration: none;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
.welcome .home-btn:hover{
	background-color: rgba(50,99,52,0.7);
	
}
/*-----------------------------About-------------------------------*/

#about{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about b{
	color: #326334; 
}
#about .btn{
	margin-top: 20px;
	margin-bottom: 30px;
}

.about-content{
	padding-top: 20px;
}
#about .btn{
	background-color: #326334!important;
	color: #fff;
}
#about .btn:hover{
	background-color: transparent;
	border: 2px solid #326334!important;
}


/*-------------------------------Blog Section-------------------------------*/

#blog{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}

#blog h1{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}

#blog h1::after{
	content: '';
	background: #326334;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}

.profile-pic{
	margin-top: 25px;
}

.profile-pic .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile-pic .img-box img{
	width: 300px;
	filter: grayscale(1);
}
.profile-pic .img-box img:hover{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2{
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	color: #326334;
}
.profile-pic h3{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
#blog .btn-primary{
	box-shadow: none;
	padding-top: 8px 25px;
	border: none;
	border-radius: 5px;
	background: #326334 !important;

}

/*--------------------------Event Section---------------------------------*/

#promo{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
	 url('14.jpg');
	 height: 130vh;
	 background-size: cover;
	 background-position: center;
	 color: #fff;
	 background-attachment: fixed;
	 text-align: center;
	 padding: 50px;
	 font-family: sans-serif;
	 font-size: 38px;
}
#promo h1{
	text-align: center;
	color: #fff;
	padding-bottom: 10px;
	font-size: 30px;
}

#promo h1::after{
	content: '';
	background: #326334;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px #326334;
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    padding: 0;
    margin: 0;
    max-width: 680px;
    height: 400px;
    
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 100px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    font-size: 14px;
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #326334 0%, #68d66d 74%);
  box-shadow: 4px 13px 30px 1px rgba(50, 99, 52, 0.2);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #326334 0%, #68d66d 74%);
  border-radius: 20px;
  opacity: 0.7;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
    height: 150px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -60px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
  font-size: 25px;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #326334 0%, #68d66d 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(50, 99, 52, 0.4);
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
    padding: 10px;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background:  #326334;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(50, 99, 52, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

/*--------------------------Contact---------------------------------*/
#contact h1{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}

#contact h1::after{
	content: '';
	background: #326334;
	display: block;
	height: 3px;
	width: 190px;
	margin: 20px auto 5px;
}

#contact{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}


.social-icon{
	padding: 20px;
	margin: 15px;
}


.social-icon .fa{

	margin: 10px;
	color: #326334;
	font-weight: bold;
}
/*---------------------------Footer------------------------------*/
#footer{

	background: #333;
	color: #fff;
	padding: 12px;
}


